* {
    box-sizing: border-box; /*idk what this*/
    font-family: 'Arial', sans-serif;
}

header {
  background-color: #0066cc;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-links{

}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.header-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.header-links a:hover {
  color: #c8def5;
}